@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>

<address>
    Aleksandr Ukrainets<br />
    Kiev, Ukraine<br />
    <abbr title="Phone">Phone:</abbr>
    +38-067-235-57-70
</address>

<address>
    <strong>email:</strong>   <a href="ukrainets.alexander@gmail.com">ukrainets.alexander@gmail.com</a><br />
    <strong>skypeID:</strong> <a href="ukrainets.alexander">ukrainets.alexander</a>
</address>