@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Pay system.</h2>
    <p class="lead">This is MVP of the payment system between registered users.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Technologies were used:</h3>
        <p>
            C#, Microsoft .NET Framework, ASP.NET, Java Script, MS-SQL
        </p>
    </div>
    
</div>