@model PaySystem.Models.BalanceModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Balance Page";
}

<div class="jumbotron">
    <h2>To Pay</h2>
    <p class="lead">Page for transferring money to a friend's account.</p>

    @foreach (var u in ViewBag.Users)
    {
        if (User.Identity.GetUserName() == u.UserName)
        {
            <strong>
                <td><p>Your number of account: @u.BalanceNumber</p></td>
                <td><p>Remaining money in your account: @u.UserBalance</p></td>
                <div>
                    <form method="post" action="">
                        <table>
                            <tr>
                                <td><p>To input № account your frend:    </p></td>
                                <td><input type="number" name="ReceiverBalanceNumber" min="1" /> </td>
                            </tr>
                            <tr>
                                <td><p>To input summ for transfering:</p></td>
                                <td>
                                    <input type="number" name="ReceiverValue" min="1" />
                                </td>
                                <input type="hidden" value="@u.UserBalance" name="PayerUserBalance" />
                                <input type="hidden" value="@u.BalanceNumber" name="PayerBalanceNumber" />
                            </tr>
                            <tr><td><input type="submit" formtarget=_self value="Transfer =>" /> </td><td></td></tr>
                        </table>
                    </form>
                </div>

            </strong>
        }

    }





    </div>

